#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.product {
  border-width: 0.5px;
  border-style: solid;
  margin: 8px;
  min-width: 200px;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.price {
  margin-top: 8px;
  color: brown;
}

.size {
  margin-top: 8px;
}

.id {
  margin-top: 16px;
}

#sortArea {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.sortButton {
  padding: 16px;
  min-width: 150px;
  border-radius: 8px;
}
